# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/media/
/staticfiles/

# Virtualenv
.venv/
env/
ENV/

# Env secrets
.env
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage
